Proj01-schedule-convertXML-toOtherFormats/code/Proj01-schedule-convertXML-toOtherFormats/src/main/mule/convertXMLtoOtherFormats.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="3eea1b33-d377-47d8-9e6d-7c662384babc" >
		<file:connection workingDir="C:\Users\sujit\Desktop\W3Schools-bookStore\output" />
	</file:config>
	<flow name="MainFlow" doc:id="1ee69459-cfa0-4876-bd59-ec46d28e7ab7" >
		<file:listener doc:name="On New or Updated File" doc:id="ab85123f-3fd9-4d7c-82aa-d608b70999e3" directory="C:\Users\sujit\Desktop\W3Schools-bookStore\input" outputMimeType="application/xml" moveToDirectory="C:\Users\sujit\Desktop\W3Schools-bookStore\backup" renameTo='#["backup-" ++ vars.fileName_noExtension ++ "-" ++ now() as String {format:"Y-MM-dd-HH-mm-ss"} ++ ".xml"]' timeBetweenSizeCheckUnit="DAYS">
			<scheduling-strategy >
				<fixed-frequency frequency="6" timeUnit="SECONDS"/>
			</scheduling-strategy>
			<file:matcher filenamePattern="*.xml"/>
		</file:listener>
		<ee:transform doc:name="extract the fileName with out extension" doc:id="2c8c20de-acc8-4693-b858-bf592091df8b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fileName_noExtension" ><![CDATA[%dw 2.0
output application/json

var fileName =  attributes.fileName
var fileName_noExtension = splitBy(fileName,".")[0]
---
fileName_noExtension]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="fileName" doc:id="3ff36fcb-158d-402e-9c4f-276810929aeb" message="file name without extension #[vars.fileName_noExtension]"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="0617dc2c-0b92-4635-8989-3dbc2d069c0d" >
			<route >
				<flow-ref doc:name="to-json" doc:id="d4f4d094-d7a1-49ec-9d90-5fcda32c134c" name="to-json"/>
			</route>
			<route >
				<flow-ref doc:name="to-csv" doc:id="5caa78dc-44a1-43eb-8863-8255720f6a76" name="to-csv"/>
			</route>
			<route >
				<flow-ref doc:name="to-xlsx" doc:id="1d779b05-b091-496e-a62c-cf466b58f6ee" name="to-xlsx"/>
			</route>
		</scatter-gather>
		<flow-ref doc:name="list fileNames in output folder" doc:id="89f291f0-6a2e-4e38-a2a0-15edfbc223fe" name="list-fileNames" />
	</flow>
	<sub-flow name="to-json" doc:id="36809f59-61e8-440d-b369-0fa10d27501e" >
		<ee:transform doc:name="XML to JSON" doc:id="250eed4a-d961-4447-860b-bbb17d4bce68">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.bookstore.*book map ( book , indexOfBook ) -> {
	myCategory: book.@category default "",
	myTitle: book.title default "",
	myLang: book.title.@lang default "",
	myAuthor: book.author default "",
	myYear: book.year default 0,
	myPrice: book.price default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write as json file" doc:id="e5651662-72ef-4191-8a9d-fbdd194f836b" path='#["processed-" ++ vars.fileName_noExtension ++ "-" ++ now() as String {format:"Y-MM-dd-HH-mm-ss"} ++ ".json"]' config-ref="File_Config"/>
	</sub-flow>
	<sub-flow name="to-csv" doc:id="1f2dd427-b64c-48b5-8ae3-ccd92a0ef40e" >
		<ee:transform doc:name="XML to CSV" doc:id="3141895f-3fff-40ae-8874-a2c5a05cf4d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.bookstore.*book map ( book , indexOfBook ) -> {
	title: book.title default "",
	lang: book.title.@lang default "",
	author: book.author default "",
	year: book.year as String default "",
	price: book.price as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write as csv file" doc:id="bfab9075-0e69-4bf4-be25-3a3e32ecab7f" config-ref="File_Config" path='#["processed-" ++ vars.fileName_noExtension ++ "-" ++ now() as String {format:"Y-MM-dd-HH-mm-ss"} ++ ".csv"]' />
	</sub-flow>
	<sub-flow name="to-xlsx" doc:id="01cb31a1-062f-4ddd-8ec2-ddd4b3747837" >
		<ee:transform doc:name="XML toXLSX" doc:id="585e747d-2656-4975-a0cd-1fc77dfef78c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xlsx
---
{
	"bookSheet1" : payload.bookstore.*book
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write as xlsx file" doc:id="bca5b166-6510-4f97-ac74-736f13e1b443" path='#["processed-" ++ vars.fileName_noExtension ++ "-" ++  now() as String {format:"Y-MM-dd-HH-mm-ss"} ++ ".xlsx"]' config-ref="File_Config"/>
	</sub-flow>
	<flow name="list-fileNames" doc:id="4bbeaa88-835e-4f05-aaf4-284d23caf89a">
		<file:list doc:name="List" doc:id="2c2df8d8-e42a-44e8-9841-219c7c518af9" directoryPath="C:\Users\sujit\Desktop\W3Schools-bookStore\output" />
		<ee:transform doc:name="var attributes_fileNames" doc:id="b989694d-ee2a-496a-bcb5-50ae93d80eab">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="attributes_fileNames" ><![CDATA[%dw 2.0
output application/json
---
{
	
	"files_present" : payload.attributes.name,
	"attributes of files" : payload.attributes
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="attributes filenames" doc:id="b21fc2bb-4c6b-4ab7-b8a5-41986a0417c4" message="#['\n']*******after listing, files present and related attributes are #['\n'] #[vars.attributes_fileNames]" />
	</flow>
</mule>
