Proj-08-calculatorApi-proxy-design-develop-deploy/code/target/META-INF/mule-src/proj08/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    
    
    <flow name="basiccalculator-main">
        <http:listener config-ref="basiccalculator-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="basiccalculator-config" />
		<error-handler ref="basicCalculator-main-errorHandler" />
    </flow>
    <flow name="basiccalculator-console">
        <http:listener config-ref="basiccalculator-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="basiccalculator-config" />
		<error-handler ref="basicCalculator-console-errorHandler" />
    </flow>
    <flow name="post:\add:application\json:basiccalculator-config">
        <flow-ref doc:name="additionFlow" doc:id="24fefb6f-1f01-4cae-a3b4-c2b7171b4258" name="additionFlow"/>
		<error-handler ref="add-errorHandler" />
    </flow>
    <flow name="post:\subtract:application\json:basiccalculator-config">
        <flow-ref doc:name="subtractionFlow" doc:id="c70c25d9-32c2-414e-9450-54d2776e8929" name="subtractionFlow"/>
		<error-handler ref="subtract-errorHandler" />
    </flow>
	<flow name="post:\multiply:application\json:basiccalculator-config">
        <flow-ref doc:name="multiplicationFlow" doc:id="5e495959-47a4-4861-8704-4c770f629f61" name="multiplicationFlow"/>
		<error-handler ref="multiplication-errorHandler" />
    </flow>
	<flow name="post:\divide:application\json:basiccalculator-config">
        <flow-ref doc:name="divisionFlow" doc:id="d0b0f22b-7569-42d4-bf13-cd737568433c" name="divisionFlow"/>
		<error-handler ref="division-errorHandler" />
    </flow>
</mule>
