Proj-07-design-develop-deploy-01/code/Proj07-design-develop-deploy01/target/classes/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
   
	<flow name="bank-api-console">
        <http:listener config-ref="bank-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bank-api-config" />
        <error-handler ref="bank-api-console-errorHandler" />       
    </flow>
	<flow name="bank-api-main">
        <http:listener config-ref="bank-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bank-api-config" />
        <error-handler ref = "bank-api-main-errorHandler"/>      
      </flow>
    <flow name="post:\createAccount:application\json:bank-api-config" >
		<flow-ref doc:name="createAccountFlow" doc:id="2ec3e8a1-4fd7-475e-94aa-ce3721027307" name="createAccountFlow"/>
	</flow>       
    
	<flow name="post:\checkBalance:application\json:bank-api-config">
		<flow-ref doc:name="checkBalanceFlow" doc:id="45dd2668-bde6-49fa-894d-af3841e9aeec" name="checkBalanceFlow"/>
	</flow>
	<flow name="post:\withdraw:application\json:bank-api-config">
		<flow-ref doc:name="withdrawAmountFlow" doc:id="3c6b4bce-34a2-467a-8531-03cae6b73c9f" name="withdrawAmountFlow"/>
        		
    </flow>
	
	
	
</mule>
